.main{

	height: 650px;
	width: 400px;
	border: 1px solid red;
	border-radius: 15px;
	display: block;
	margin: auto;
	margin-top: 20px;
}

p{

	font-size: 35px;
	font-family: verdana;
	font-weight: bold;
	margin-left: 130px;
	color: red;
	justify-content: center;

}

h2{

	font-size: 20px;
	font-family: verdana;
	font-weight: bold;
	margin-left: 40px;
	color: white;
}


body{

	background: black;
}

input{

	width: 300px;
	height: 20px;
	padding: 10px;
	border: 1px solid red;
	background: none;
	border-radius: 10px;
	font-family: verdana;
	font-weight: bold ;
	margin-top: 10px;

}

button{

	height: 45px;
	width: 300px;
	border: red ;
	border-radius: 20px;
	color: red ;
	font-family: verdana;
	font-weight: bold ;
	font-size: 20px;
	margin-left: 50px;
	margin-top: 30px;
	background: red ;
	cursor: pointer;

}

.rr{

	background: none;
	border: none;
	font-size: 20px;
	margin-bottom: 10px;
}

.your{

	height: 60px;
	font-size: 17px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background: #B4D3D9;
}

.meta{

    background:none ;
    border:none ;
    font-weight: bold;
    font-family: verdana;
    font-size: 18px;
    color: darkred;
    cursor: pointer;

}